body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #2C2F33;
    overflow-x: hidden;
}

.topnav {
    overflow: hidden;
    background-color: #23272A;
    padding: 10px;
    width: 100%;
    display: flex;
    
    align-items: center;
  }
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 30px;
    
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #7289DA;
    color: white;
}

.topnav a.logo {
    pointer-events: none;
    
}

.topnav a.logo img{
    width: 90px;
    height: 75px;
    padding-left: 10px;
}


footer {
    background-color: #23272a;
    padding: 0px 0px 0px 10px;
    margin-top: 10px;
    text-align: left; /*center*/
    color: white;
    bottom: 0;
    font-size: small;
    width: 100%;
}

footer a:hover {
    color: #ffffff;
}

footer a {
    text-decoration: none;
    color: #7289DA;
}

.homepage {
    text-align: center;
    background-color: #2C2F33;
    padding: 30px;
    color:#FFFFFF;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.row {
    display: flex;
}